/* Base Styles */
$white: rgba(255,255,255,1); /* #ffffff */
$blue: rgba(43,112,163,1); /* #2b70a3 */

// $sans:  "proxima-nova", helvetica, tahoma, verdana, sans-serif;
// $serif:  "proxima-nova", helvetica, tahoma, verdana, sans-serif;
$jubilat: "jubilat",sans-serif;
$futura: "futura-pt",sans-serif;


$divider: 1px solid rgba(229,229,229,1); /* #E5E5E5 */


/* Highlight */
::-moz-selection{ background: #333; color:#fff; text-shadow: none; }
::selection { background:#333; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: none; }


/*  Global Elements  */
body{
    color: lighten(#000, 30%);
    background: darken(#fff, 5%) url('../images/texture.png') 50% 50% repeat;
}
.ss-icon{
    vertical-align: middle;
}
.module{
background: rgba(255,255,255,0.7);
    border-radius: 6px;
    padding: 40px;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#intro{
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
    @include animate;
    @include fadeInDown;
    #headshot{
        display: block;
        height: 75px;
        width: 75px;
        margin: 20px auto 0 auto;
        border: 5px solid #fff;
        border-radius: 100px;
        -webkit-transition: width 0.25s linear, height 0.25s linear;
        -moz-transition: width 0.25s linear, height 0.25s linear;
        transition: width 0.25s linear, height 0.25s linear;
    }
    h1{
        margin: 20px 0 0 0;
    }
    
    h2, a{
        font-family: $futura;
    }
    h2{
        margin: 0;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 14px;
        span{
            font-family: $jubilat;
            font-size: 16px;
            font-weight: 100;
        }
    }
    a{
        font-size: 14px;
    }
}

#cv{
    overflow: visible;
}
h1{
    font-family: $jubilat;
    font-weight: 100;
    font-style: italic;
}

h2{
    font-family: $futura;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 100;
}


.item, .special{
    position: relative;
    margin: 0 0 10px 0;
    text-align: left;
    span{
        display: block;
    }
}
.item{
    padding-bottom: 10px;
    border-bottom: $divider;
    -webkit-transition: margin 0.25s linear;
    -moz-transition: margin 0.25s linear;
    transition: margin 0.25s linear;
}
.date{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 100;
    font-family: $futura;
    -webkit-transition: top 0.25s linear, left 0.25s linear;
    -moz-transition: top 0.25s linear, left 0.25s linear;
    transition: top 0.25s linear, left 0.25s linear;
}
.title{
    font-family: $futura;
    font-weight: 500;
    font-size: 15px;
    color: lighten(#000, 40%);
}
.company{
    font-family: $jubilat;
    font-weight: 500;
    font-size: 14px;
    color: lighten(#000, 30%);
}

.location{
    font-family: $futura;
    font-weight: 300;
    font-size: 13px;
    font-style: italic;
    color: lighten(#000, 40%);
}
