/* Tablet Styles */
/* min-width 768px */

#intro{
    overflow: hidden;
    margin-bottom: 20px;
    text-align: left;
    #headshot, .intro-copy{
        float: left;
    }
    #headshot{
        height: 150px;
        width: 150px;
        margin: 20px 0 0 0;
    }
    .intro-copy{
        margin-left: 20px;
        padding-top: 15px;
    }
    h1{
        margin: 20px 0 0 0;
    }
    
    h2, a{
        font-family: $futura;
    }
    h2{
        margin: 0;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 14px;
    }
    a{
        font-size: 14px;
    }
}