/* Tablet Styles */
/* min-width 768px */
body {
    padding-top: 165px;
}
#intro{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    text-align: left;
    #headshot, .intro-copy{
        float: left;
    }
    #headshot{
        height: 150px;
        width: 150px;
        margin: 20px 0 0 0;
    }
    .intro-copy{
        margin-left: 20px;
        padding-top: 32px;
    }
    &.scroll{
        background: #fff;
        text-align: center;
        @include animate;
        @include fadeInDown;
        -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
        #headshot{
            height: 45px;
            width: 45px;
            margin: 10px 0;
        }
        .intro-copy{
            width: 80%;
            padding-top: 15px;
        }
        h2 {
            display: none;
        }
        h1 {
            float: left;
            margin: 0;
            width: 70%;
            text-align: left;
            @include box;
        }
        a {
            display: block;
            width: 30%;
            float: right;
            margin: 15px 0 0 0;
            font-size: 12px;
            text-align: right;
            @include box;
        }
    }
}

.item{
    margin-left: 110px;
}
.date{
    position: absolute;
    top: 5px;
    left: -130px;
    width: 100px;
    text-align: right;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 100;
}
.special{
    .date{
        position: static;
    }
}
